.dropdown {
  &__menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 248px;
    background: var(--bg-gray);
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 28px;
    padding: 34px;
    max-height: 305px;
    overflow: auto;
    z-index: 1;
    margin-top: 10px;
  }
}
