[data-theme='dark'] {
  --color-basic-text: #fff;
  --color-gray-text: #4e4e4e;
  --bg-page-container: #181818;
  --bg-sidebar: #181818;
  --bg-gray: #313131;
  --bg-burger-line: #d3d3d3;
  --border-input-search: #4e4e4e;
  --bg-bar: rgba(28, 28, 28, 0.8);
  --color-player-btn: #d9d9d9;
  --bg-progress-line: #2e2e2e;
  --bg-progress-thumb: rgba(255, 255, 255, 0.1);
}

[data-theme='light'] {
  --color-basic-text: #000;
  --color-gray-text: #b1b1b1;
  --bg-page-container: #fff;
  --bg-sidebar: #f6f5f3;
  --bg-gray: #f6f4f4;
  --bg-burger-line: #000;
  --border-input-search: #d9d9d9;
  --bg-bar: rgba(255, 255, 255, 1);
  --color-player-btn: #b1b1b1;
  --bg-progress-line: #d9d9d9;
  --bg-progress-thumb: rgba(0, 0, 0, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'Stratos', sans-serif;
  cursor: pointer;
}

button,
._btn {
  cursor: pointer;
}

ul li {
  list-style: none;
}

//-------------------------------//

// ========== fonts ========
@font-face {
  font-family: 'Stratos';
  src: url('../fonts/Stratos-Regular.woff2') format('woff2'), url('../fonts/Stratos-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//--------------------------

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Stratos', sans-serif;
  color: var(--color-basic-text);
}

// ========== hover ========
._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btn-icon:hover svg {
  fill: #707070;
  cursor: pointer;
}

// ========== activ ========
._btn-text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

._btn-icon:active svg {
  fill: var(--color-basic-text);
  cursor: pointer;
}

._btn-text_active,
._btn-text_active:hover {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}
