._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.track-play {
  &__like-dis {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 26%;
  }

  &__like,
  &__dislike {
    padding: 5px;
  }

  &__like-svg {
    width: 14px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }

  &__dislike {
    margin-left: 28.5px;
  }

  &__dislike-svg {
    width: 14.34px;
    height: 13px;
    fill: transparent;
    stroke: #696969;
  }
}
