.input {
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid #d0cece;
  outline: none;
  font-family: 'Stratos', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;

  &::placeholder {
    color: #d0cece;
  }
}
