// =================== bar-player ====================//

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--bg-bar);
}

.bar {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__player-block {
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.player {
  &__controls {
    display: flex;
    flex-direction: row;
    padding: 0 27px 0 31px;
  }

  &__btn-prev,
  &__btn-play,
  &__btn-stop,
  &__btn-next,
  &__btn-repeat,
  &__btn-shuffle {
    padding: 5px;
    display: flex;
    align-items: center;
  }

  &__btn-prev {
    margin-right: 23px;
  }

  &__btn-prev-svg {
    width: 15px;
    height: 14px;
    fill: var(--color-player-btn);

    &:hover {
      fill: #707070;
    }
  }

  &__btn-play,
  &__btn-stop {
    margin-right: 23px;
  }

  &__btn-play-svg,
  &__btn-stop-svg {
    width: 22px;
    height: 20px;
    fill: var(--color-player-btn);

    &:hover {
      fill: #707070;
    }
  }

  &__btn-next {
    margin-right: 28px;
    fill: var(--color-player-btn);
  }

  &__btn-next-svg {
    width: 15px;
    height: 14px;
    fill: var(--color-player-btn);

    &:hover {
      fill: #707070;
    }
  }

  &__btn-repeat {
    margin-right: 24px;
  }

  &__btn-repeat-svg {
    width: 20px;
    height: 18px;
    fill: var(--color-player-btn);
  }

  &__btn-shuffle {
    display: flex;
    align-items: center;
  }

  &__btn-shuffle-svg {
    width: 20px;
    height: 18px;
    fill: var(--color-player-btn);
  }
}
